<!DOCTYPE html>
<html>
<%- include('../includes/head') %>

    <body class="bg-bggray text-gray-50 min-h-screen flex flex-col">
        <nav class="navbar">
            <a href="#">
                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/21/ZDF_logo%21_Logo_2021.svg/640px-ZDF_logo%21_Logo_2021.svg.png"
                    alt="image logo">
            </a>
            <div class="links">
                <a href="#">Get Started</a>
                <a href="#">Pricing</a>
                <a href="#">Reviews</a>
            </div>
        </nav>


        <h3 class="ch_plan_text">
            Choose your membership plan
        </h3>

        <div class="plans">
            <div class="plan_cont">
                <div class="header">
                    1Month
                    <div class="lines">
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                </div>
                <div class="body">
                    <div class="price">
                        <small>$</small>
                        <h2>95</h2>
                    </div>
                    <div class="per_mon">
                        per month
                    </div>
                    <p>
                        Billed every month 14-day money back guaranete
                    </p>
                </div>
            </div>
            <div class="plan_cont">
                <div class="header">
                    12Month
                    <div class="title">
                        Host Popular
                    </div>
                </div>
                <div class="body">
                    <div class="price">
                        <small>$</small>
                        <h2>64</h2>
                        <h3 class="disc">$95</h3>
                    </div>
                    <div class="per_mon">
                        per month
                    </div>
                    <p>
                        Billed every month 14-day money back guaranete
                    </p>
                    <h2>
                        Save 32%
                    </h2>
                </div>
            </div>
            <div class="plan_cont">
                <div class="header">
                    6Month
                </div>
                <div class="body">
                    <div class="price">
                        <small>$</small>
                        <h2>74</h2>
                    </div>
                    <div class="per_mon">
                        per month
                    </div>
                    <p>
                        Billed every month 14-day money back guaranete
                    </p>
                </div>
            </div>
        </div>

        <div class="payment">
            <div class="line">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTSG5Y3k5i53efxeDAMSdx0k9Wc8Ma6fgBKHsCmjlS-WMMqgIG9GLa2GmHdcQ0vaZX7cD8&usqp=CAU"
                    alt="">
            </div>
            <button class="btn_payment">
                Proceed to payment
            </button>
        </div>

        <div class="call">
            Need a payment plan for an annual package?
            <img src="https://www.svgrepo.com/show/6064/phone-call.svg" alt="">
            <a href="#">Schedule a call</a>
        </div>