<header
  class="bg-darkerbggray text-gray-50 flex flex-row items-center w-full justify-between px-4 md:px-24 lg:px-36 py-4">
  <!-- Logo -->
  <a href="/" class="aio-txt font-bold"> A I O </a>

  <nav class="flex items-center justify-end">
    <a href="/logout" class="flex items-center">
      <img src="<%= user.displayAvatar %>" width="40" height="40" class="rounded-full rg-blob" alt="User Image" /><span
        class="text-lg ml-2">
        <btn class="btn-two">
        <!-- create a dropdown on the users name -->
          
              <i class="fa-brands fa-discord"></i>
              <%= user.username %>#<%= user.discriminator %>
            </button>
            
            </div>
            
              </div>
        </btn>
      </span>
    </a>
    <a href="/premium" class="flex items-center">

      <span class="text-lg ml-2">
        <btn
          class="px-3 py-1 rounded-md flex-[1/2] mt-4 premiumButton transition-opacity duration-300 hover:opacity-70">
          Premium <i class="fa-duotone fa-crown"></i>
        </btn>
      </span>
      <div class="sc-hRwTwm jNwnxb">
      </div>

    </a>
    </span>

  </nav>
</header>
<style>
</style>